.overview{
    height: 15%;
}
body{
    background-color:#f0e1c5;
}




.head-text{
    text-align: center;
    align-content: center;
    margin: 100px 50px 100px 50px;
    font-size: 18px;
  
}

#item-list{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5% 5% 5% 5%;
}

.item-block{
    text-align: center;
    width: 20%;
    margin-left: 3%;
    margin-right: 3%; 
}

@media (max-width : 980px){
    #item-list{
        display: grid;
        grid-template-columns: auto auto;
        padding: 5% 5% 5% 5%;
    }
    .item-block{
        text-align: center;
        width: 30%;
        margin-left: 3%;
        margin-right: 3%; 
    }
}

td h3{
    padding: 5px 0px 10px 0px;
    font-family: "Poppins", sans-serif;
    text-align: left;
}

td h4{
    padding: 0px 0px 0px 0px;
    font-family: "Poppins", sans-serif;
    text-align: left;
}

td p{
    padding: 3px 0px 5px 0px;
    font-family: "Poppins", sans-serif;
    text-align: left;
}


.enlarge-pic { 
    transition: all .5s ease-in-out; 
}

.enlarge-pic:hover { 
    transform: scale(1.22);
    margin-bottom: 25px; 
}
